<%- include('../partials/header') %>
    
    <section id="show-page">
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>Flight Number: </div>
        <div><%= flight.flightNo %></div>
        <div>Departs</div>
        <div><%= flight.departs.toLocaleString([],  
          {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'}) %></div>
    </section><br>


    <h1>Flight Destinations</h1>

    <form id="add-destination" method="POST" 
    action="/flights/<%= flight._id %>/destinations">
        <label>Add Destination:</label>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select><br>
        <label>  Arrival Date:
            <input name="arrival" type="datetime-local" value="">
        </label>
        <input type="submit" value="Add Destination">
    </form>

    <% if (flight.destinations.length) { %>
        <table>
          <thead>
            <tr>
              <th>Airport</th>
              <th>Arrival Time</th>
            </tr>
          <tbody>
            <% flight.destinations.forEach(function(f) { %>
              <tr>
                <td><%= f.airport %></td>
                <td><%= f.arrival.toLocaleString([],  
                  {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'}) %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Destinations Yet</h5>
      <% } %>

  <h1>Tickets</h1>

  <form id="add-ticket-form" action="/flights/<%= flight.id %>/tickets" method="POST">
    <label>Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <input name="price" type="number">
    <input type="submit" value="Add Ticket">
  </form>

      <% if (tickets.length) { %>
          <table>
            <thead>
              <tr>
                <th>Seat</th>
                <th>Price</th>
              </tr>
            <tbody>
              <% tickets.forEach(function(t) { %>
                <tr>
                  <td><%= t.seat %></td>
                  <td>$ <%= t.price %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        <% } else { %>
          <h5>No Tickets Yet</h5>
        <% } %>
<%- include('../partials/footer') %>